.ios{

  --ion-background-color: #bbe3e3  ;
  --ion-background-image: #bbe3e3 ;
}

.md{
  --ion-background-color: #bbe3e3  ;
  --ion-background-image: #bbe3e3 ;
}
ion-title{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
  color: black;
  font-weight: bold;
}
ion-card {
  border: 2px solid black;
  padding: 10px;
}