<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Volunteers Applications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">

    <ion-item-sliding *ngFor="let volunteer of volunteers">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>{{ volunteer.fullname }}</ion-card-title>
          <ion-card-subtitle>{{ volunteer.mobile}}</ion-card-subtitle>
          <ion-card-subtitle>{{ volunteer.position}}</ion-card-subtitle>
          <ion-card-subtitle>{{volunteer.location}}</ion-card-subtitle>
          <ion-card-subtitle>{{ volunteer.information}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
        </ion-card-content>
        <ion-icon name="trash-outline"  (click)="deleteVolunteer(volunteer.id)"></ion-icon>
      </ion-card>
    </ion-item-sliding>

  </ion-list>
  <ion-button [routerLink]="['/buttons']" color="success" expand="block">Main menu</ion-button>

</ion-content>
