
ion-header {
  --background: #4CAF50;
}

ion-toolbar {
  --color: white;
}

ion-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: Black;
}

ion-content {
  --ion-background-color: #bbe3e3;
}

ion-card {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

ion-card-header {
  background-color: #3880ff;
}

ion-card-title {
  color: Black;
}

ion-card-content {
  font-family: "Times New Roman", Times, serif;
}

@media only screen and (max-width: 600px) {
  body {
    --ion-background-color: #85C1E9;
  }
}