<ion-header>
  <ion-toolbar>
    <ion-title>Real Talks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <video width="225px" height="225px" controls="controls">
    <source
      src="https://firebasestorage.googleapis.com/v0/b/sosad-d7f9f.appspot.com/o/Leanne%20Kiernan%20on%20grief.mp4?alt=media&token=948a855f-f2af-433a-a446-b5f584cf3db0"
      type="video/mp4">
  </video>

  <video width="225px" height="225px" controls="controls">
    <source
src="https://firebasestorage.googleapis.com/v0/b/sosad-d7f9f.appspot.com/o/Leanne%20Kiernan%20on%20mindset%20and%20the%20importance%20of%20friends%20and%20family.mp4?alt=media&token=10c9096c-746e-43d6-a9e2-e4da06ac0ee8"
      type="video/mp4">
  </video>
  <video width="225px" height="225px" controls="controls">
    <source
src="https://firebasestorage.googleapis.com/v0/b/sosad-d7f9f.appspot.com/o/Rory%20O'Connor%20(aka%20Rory's%20Stories)%20on%20using%20self-awareness%20to%20help%20his%20mental%20health.mp4?alt=media&token=4038bb30-6b67-439e-a54c-8d26190ca53e"
      type="video/mp4">
  </video>

  <video width="225px" height="225px" controls="controls">
    <source
src= "https://firebasestorage.googleapis.com/v0/b/sosad-d7f9f.appspot.com/o/What%20is%20Growth%20Mindset.mp4?alt=media&token=17e46c47-561b-4b32-b145-76d15b0b218d"
 type="video/mp4">
  </video>

  <video width="225px" height="225px" controls="controls">
    <source
src="https://firebasestorage.googleapis.com/v0/b/sosad-d7f9f.appspot.com/o/TV%20Ad_%20Real%20Talks%20with%20SOSAD%20Ireland%20well-being%20series.%20Featuring%20For%20Those%20I%20Love.mp4?alt=media&token=f50204dd-22d3-414f-b311-1ddcfe22ced2"
type="video/mp4">
  </video>


</ion-content>
