capacitor-google-map {
  display: inline-block;
  width: 25%;
  height: 300px;
}
.ios{

  --ion-background-color: #bbe3e3  ;
  --ion-background-image: #bbe3e3 ;
}

.md{
  --ion-background-color: #bbe3e3  ;
  --ion-background-image: #bbe3e3 ;
}
ion-title{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
  color: black;
  font-weight: bold;
}

P{
  white-space: pre-wrap;
  line-height: 1.2;

}