<ion-header>
  <ion-toolbar>
    <ion-title class="main-title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <div class="login-logo">
          <ion-img src="assets/images/header.jpg"></ion-img>
        </div>

        <ion-card color="light">
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
            </ion-item>

            <ion-button class="ion-margin-top" color="success" expand="full" (click)="login(user)">Login</ion-button>
            <ion-button class="ion-margin-top" color="medium" expand="full" [routerLink]="['/register']">Register</ion-button>
            <button (click)="loginWithGoogle()">Sign in with Google</button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
