<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Availability</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-datetime presentation="date" displayFormat="MM/DD/YYYY" [(ngModel)]="selectedDate"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button color="success"  expand="block" (click)="loadData()">Load Data</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item-sliding *ngFor="let item of chosendate">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>{{ item.fullname }}</ion-card-title>
                <ion-card-subtitle>{{ item.office }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-text>{{ item.position }}</ion-text>
                <br>
                <ion-label>Time:</ion-label>
                <ion-text>{{ item.time }}</ion-text>
              </ion-card-content>
            </ion-card>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/add-roster']" color="success" expand="block">Enter Availability</ion-button>
      </ion-col>
    </ion-row>
     <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button [routerLink]="['/buttons']" color="success" expand="block">Main Menu</ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
