<ion-menu side="start" menuId="mainMenu" contentId="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title class="main-title">
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-button [routerLink]="['/request']" expand="block" color="success">Request a call back</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/volunteer']" expand="block" color="success">Volunteer</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/video']" expand="block" color="success">Videos</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/maps']" expand="block" color="success">Office Location</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/show']" expand="block" color="success">Events</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/chat']" expand="block" color="success">Chat</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="mainContent"></ion-router-outlet>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      User Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-container">
    <ion-img src="assets/images/image.jpg"></ion-img>
  </div>
  <ion-card *ngIf="quote" class="white-background">
    <ion-card-content>
      <p>{{ quote.content }}</p>
      <p><strong>- {{ quote.author }}</strong></p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="fetchQuote()">Get another quote</ion-button>
</ion-content>