
/* Menu */
ion-menu {
  --width: 250px;
  --background: #f4f4f4;
}

/* Menu toolbar */
ion-menu ion-toolbar {
  --background: #3880ff;
  --color: #ffffff;
}

/* Menu items */
ion-menu ion-item {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --color: #444444;
}

ion-menu ion-item:hover {
  --background: #e0e0e0;
}

/* Header toolbar */
ion-header ion-toolbar {
  --background: #bbe3e3;
  --color: #ffffff;
}

/* Ion-card */
ion-card {
  margin: 16px;
  
}
.white-background {
  --background: #ffffff;
}

/* Ion-card content */
ion-card-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 16px;
  
  --width: 250px;
  --background: #f4f4f4;
}

/* Menu toolbar */
ion-menu ion-toolbar {
  --background: #3880ff;
  --color: #ffffff;
}

/* Menu items */
ion-menu ion-item {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --color: #444444;
}

ion-menu ion-item:hover {
  --background: #e0e0e0;
}

/* Header toolbar */
ion-header ion-toolbar {
  --background: #3880ff;
  --color: #ffffff;
}

/* Ion-card */
ion-card {
  margin: 16px;
}

/* Ion-card content */
ion-card-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 16px;
}



