<ion-header>
  <ion-toolbar>
    <ion-title class="main-title">Staff Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <ion-button [routerLink]="['/add-post']" color="success" expand="block" shape="round">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          Create an event
        </ion-button>
        <ion-button [routerLink]="['/show-request']" color="success" expand="block" shape="round">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          Requests
        </ion-button>
        <ion-button [routerLink]="['/show-volunteer']" color="success" expand="block" shape="round">
          <ion-icon slot="start" name="people-outline"></ion-icon>
          Applications
        </ion-button>
        <ion-button [routerLink]="['/ios']" color="success" expand="block" shape="round">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          Roster
        </ion-button>
        <ion-button [routerLink]="['/chat']" color="success" expand="block" shape="round">
          <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
          Chat
        </ion-button>
        <ion-button [routerLink]="['/noticeboard']" color="success" expand="block" shape="round">
          <ion-icon slot="start" name="clipboard-outline"></ion-icon>
         Noticeboard
        </ion-button>

      <ion-button (click)="logout()" color="success" expand="block" shape="round">
        <ion-icon name="log-out-outline"></ion-icon> Logout
      </ion-button>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
