ion-header {
  --background: #4CAF50;
}

ion-toolbar {
  --color: black;
}

ion-title {
  font-size: 1.5rem;
  font-weight: bold;
}

ion-content {
  --ion-background-color: #bbe3e3  ;
  --ion-background-image: #bbe3e3 ;
}

ion-grid {
  height: 100%;
}

ion-row {
  height: 100%;
}

ion-col {
  padding: 1rem;
  
}

ion-button {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

ion-icon {
  font-size: 1.2rem;
}
