<ion-header>
  <ion-toolbar>
    <ion-title>Staff Menu </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['/add-post']" color="success" expand="block">Create an event</ion-button>
  <ion-button [routerLink]="['/show-request']" color="success" expand="block">call backs</ion-button>
  <ion-button [routerLink]="['/show-volunteer']" color="success" expand="block">Volunteer applications</ion-button>
  <ion-button [routerLink]="['/ios']" color="success" expand="block">Roster</ion-button>

</ion-content>
