<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <footer>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/chat-rooms']">
          <ion-icon name="chatbubbles"></ion-icon>
          <ion-label>Rooms</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/users']">
          <ion-icon name="person"></ion-icon>
          <ion-label>Online</ion-label>
        </ion-tab-button> <!-- Ensure this tag is properly closed -->
        <ion-tab-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </footer>
</ion-app>
