<ion-header>
  <ion-toolbar>
    <ion-title>Request a call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input type="text" [(ngModel)]="request.fullname" required placeholder="Fullname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="request.office" required placeholder="Office"></ion-input>
  </ion-item>


  <ion-item>
    <ion-input type="text" [(ngModel)]="request.mobile" required placeholder="Contact number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="request.message" required placeholder="Message"></ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="danger" expand="full" (click)="updateRequest(request)">Update</ion-button>
  <ion-button [routerLink]="['/buttons']" color="success" expand="block">home</ion-button>

</ion-content>

