<ion-header>
  <ion-toolbar>
    <ion-title>Update Event </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="assets/images/sosad.png"></ion-img>


<ion-card color="light">
  <ion-card-header>
    <ion-input type="text" [(ngModel)]="event.title" required placeholder="Title"></ion-input>
  </ion-card-header>


  <ion-card-header>
    <ion-input type="text" [(ngModel)]="event.location" required placeholder="Location"></ion-input>
  </ion-card-header>

  <ion-card-header>
    <ion-input type="text" [(ngModel)]="event.details" required placeholder="Details"></ion-input>
  </ion-card-header>

  <ion-card-content>
    <ion-button class="ion-padding" color="success" expand="full" (click)="updateEvent(event)">Update</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
