.office-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.office-coordinator {
  font-weight: bold;
  font-size: 1rem;
}

.office-address {
  font-size: 0.9rem;
}

.office-email {
  font-size: 0.9rem;
}

.office-contact {
  font-size: 0.9rem;
}
