<ion-header>
  <ion-toolbar>
    <ion-title>
      ChatEase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <ion-img src="assets/images/logo.png"></ion-img>
    <h1>Welcome to ChatEase</h1>
    <p>Connect with your friends and family instantly. Sign up or log in to start chatting!</p>
    <ion-button expand="full" routerLink="/register">Sign Up</ion-button>
    <ion-button expand="full" fill="outline" routerLink="/login">Log In</ion-button>
  </div>
</ion-content>
