.welcome-container {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333333;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #333333;
}

ion-button {
  margin: 10px 0;
}
